@import "null";
@import "variables";

@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

@import "fonts";
html {
	scroll-behavior: smooth;
}
body {
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	color: #000000;
	background: #ffffff;

	&.this--overflow {
		overflow: hidden;
	}
}
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.container {
	max-width: 1660px;
	margin: 0 auto;
	padding: 0 20px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	@media ($desktopSmall) {
		padding: 0 15px;
	}
}
main {
	height: 100vh;
	background: url('../img/background.jpg') center / cover no-repeat;
}
.main__content {
	width: 100%;
	max-width: 600px;
	background: #ffffff;
	border-radius: 20px;
}
.main__step .main__step_img {
	width: 100%;
	img {
		width: 100%;
		border-radius: 20px 20px 0 0;
	}
}
.main__step_text {
	font-size: 20px;
	text-align: center;
}
.main__step.this-2 {
	display: none;
}
.main__step_bottom {
	padding: 20px;
}
.main__step_btns {
	display: flex;
	align-items: center;
	gap: 30px;
	width: 155px;
	margin: 20px auto 0;
}
.main__step_btn {
	padding: 10px 20px;
	border-radius: 8px;
	background: lightblue;
	box-shadow: 1px 1px 10px 4px rgba(0,0,0,0.1);
	transition: 0.15s;
	&.this--yes {
		background: lightgreen;
	}
	&.fixed {
		position: fixed;
		z-index: 3;
	}
}

